
@model DemoWeb2.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 class="text-center">CHỈNH SỬA SẢN PHẨM</h2>
    @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "col-md-10" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductID)
            <div class="form-group">
                TÊN SẢN PHẨM
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamePro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamePro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                MÔ TẢ
                <div class="col-md-10">
                    <textarea id="editDec" name="DecriptionPro" class="form-control">@Model.DecriptionPro</textarea>
                    @Html.ValidationMessageFor(model => model.DecriptionPro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                NHÓM SẢN PHẨM
                <div class="col-md-10">
                    @Html.DropDownList("Category", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                GIÁ
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <img class="card-img-bottom" src="~/Images/@Model.ImagePro" alt="Card image" style="width:60%">
                <div class="col-md-10 mt-3">
                    CHỌN ẢNH MỚI
                    <input type="file" name="ImagePro" style="padding-bottom: 20px;" />
                    @Html.ValidationMessageFor(model => model.ImagePro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mb-3 mt-3">
                    <input type="submit" value="LƯU" class="btn btn-success" />
                    <a href="@Url.Action("Index", "Products")" class="btn btn-default">QUAY LẠI</a>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script>
        CKEDITOR.replace('editDec')
    </script>
}
