
@model IEnumerable<DemoWeb2.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px; background-color: #33CCFF; ">
                <h6 class="m-0">Danh mục sản phẩm</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            @Html.Action("GetProductsByCategory", "CustomerProduct")
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class=" font-weight-bold border px-3 mr-1" style="color:#00FFFF;">N</span>Shopping</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
            <a class="nav-link" href="~/CustomerProduct">Trang chủ</a>
            <a class="nav-link" href="~/Admin/Login">Quản lý</a>
            <a class="nav-link" href="~/CustomerProduct/Shop">Mua sắm</a>
            <a class="nav-link" href="~/CustomerProduct/Contact">Liên hệ</a>
        </div>
                    <div class="navbar-nav ml-auto py-0">
                        @if (Session["TaiKhoan"] != null && Session["TaiKhoan"] is DemoWeb2.Models.Customer customer)
                        {
                            <p class="nav-item nav-link">Hello @customer.NameCus</p>
                            <a href="~/Users/Logout" class="nav-item nav-link">Đăng xuất</a>
                        }
                        else
                        {
                        <a href="~/Users/Login" class="nav-item nav-link">Đăng nhập</a>
                        <a href="~/Users/Register" class="nav-item nav-link">Đăng ký</a>
                        }
                    </div>

                </div>
            </nav>
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 410px;">
                        <img class="img-fluid" src="~/Content/img/slide_index_1.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 410px;">
                        <img class="img-fluid" src="~/Content/img/slide_index_2.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px; flex-direction:column; gap:10px;">
                <h1 class="fa fa-check m-0 mr-3" style="color: #33CCFF;"></h1>
                <h5 class="font-weight-semi-bold m-0" style="margin-top:10px;">Sản phẩm chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px; flex-direction: column; gap: 10px;">
                <h1 class="fa fa-shipping-fast m-0 mr-2" style="color: #33CCFF;"></h1>
                <h5 class="font-weight-semi-bold m-0" style="margin-top:10px;">Miễn phí vận chuyển</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px; flex-direction: column; gap: 10px;">
                <h1 class="fas fa-exchange-alt m-0 mr-3" style="color: #33CCFF;"></h1>
                <h5 class="font-weight-semi-bold m-0" style="margin-top:10px;">Đổi hàng trong 14 ngày</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px; flex-direction: column; gap: 10px;">
                <h1 class="fa fa-phone-volume m-0 mr-3" style="color: #33CCFF;"></h1>
                <h5 class="font-weight-semi-bold m-0" style="margin-top:10px;">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="~/Content/img/offer-1.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase mb-3" style="color: #33CCFF;">20% off the all order</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
                    <a href="" class="btn py-md-2 px-md-3" style="color: #33CCFF; border-color: #33CCFF; ">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="~/Content/img/offer-2.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase mb-3"style="color: #33CCFF;">20% off the all order</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
                    <a href="" class="btn py-md-2 px-md-3" style="color: #33CCFF; border-color: #33CCFF; ">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<div class="div-main">

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Sản phẩm nổi bật</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach (var sanpham in Model.Take(8))
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="~/Images/@sanpham.ImagePro" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@sanpham.NamePro</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@String.Format("{0:#,##0}", sanpham.Price) VNĐ</h6>
                            </div>
                        </div>
                        <div class="card-footer text-center bg-light border">
                            <a href="">
                                @Html.ActionLink("Chi tiết", "Details", new { id = sanpham.ProductID }, new { @class = "btn btn-sm text-dark p-0" })
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Products End -->
</div>
