@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DemoWeb2.Models.AdminUser>

@{
    ViewBag.Title = "Quản lí nhân viên";
    ViewBag.headTitle = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_admin_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-info" href="@Url.Action("Create","AdminUsers")">
            <i class="fas fa-plus"></i>
            Thêm mới nhân viên
        </a>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "AdminUsers", FormMethod.Get))
        {
            <label class="col-form-label">
                <div class="input-group input-group-sm">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control ", placeholder = "Tìm kiếm", value = "Lorem ipsum" })
                </div>
            </label>
        }
        @*<div>
                <label for="txtSearch">
                    <input type="search" id="txtSearch" placeholder="Tìm kiếm..." class="form-control form-control-sm" />
                </label>
            </div>*@
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ và tên</th>
                <th>Địa chỉ</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Số định danh</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody id="show_data">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>
                        @*@Html.Raw(item.Address.Substring(0, 30))...*@
                        @if (item.Address != null)
                        {
                            @Html.Raw(item.Address.Substring(0, Math.Min(40, item.Address.Length)))
                        }
                        else
                        {
                            <span>Chưa có địa chỉ</span>
                        }
                        ...
                    </td>
                    <td>
                        @if (item.DateOfBirth.HasValue)
                        {
                            @item.DateOfBirth.Value.ToShortDateString()
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.CMT)</td>
                    <td>
                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa" id="delete-btn"
                                onclick="location.href='@Url.Action("Delete", "AdminUsers",new { id = item.Id })'">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"
                                onclick="location.href='@Url.Action("Edit", "AdminUsers",new { id = item.Id })'">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-primary btn-sm info" type="button" title="Sửa"
                                onclick="location.href='@Url.Action("Details", "AdminUsers",new { id = item.Id })'">
                            <i class="fas fa-info-circle"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="MenuTrang pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
          new PagedListRenderOptions()
          {
              LiElementClasses = new[] { "paginate_button page-item page-link" },
              UlElementClasses = new[] { "pagination" }
          })
        <span>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</span>
    </div>
    <style>
        .pagination {
            justify-content: space-between;
            align-items: center;
        }

        .MenuTrang li {
            display: inline;
        }

        .active {
            background-color: #001C40;
            color: white;
        }
    </style>
</div>

