
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<div class="login-box">
</div>
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        @using (Html.BeginForm("Login", "Admin"))
        {
            @Html.ValidationSummary(true)
            <form action="#" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="name" name="Email" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="pwd" name="Password" placeholder="Mật khẩu" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <button type="submit" class="btn btn-primary btn-block" style="margin-left:90px">Đăng nhập</button>
                </div>
                <closeform></closeform>
            </form>
        }

    </div>
    <!-- /.login-card-body -->
</div>



@*@model Boutique.Models.Staff
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login Admin</title>
    @Styles.Render("~/bundles/adminCSS")

</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">ĐĂNG NHẬP HỆ THỐNG QUẢN TRỊ</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                {
    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        @Html.TextBoxFor(u => u.Email, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(u => u.Email)
                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Password</label>
                                                        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(u => u.Password)
                                                    </div>
                                                                    <input class="btn btn-primary btn-block" type="submit" value="Log In" />}
            </div>
        </div>
    </div>

</body>

</html>*@

