@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DemoWeb2.Models.Category>

@{
    ViewBag.Title = "Danh sách danh mục";
    ViewBag.headTitle = "Danh sách danh mục";
    Layout = "~/Views/Shared/_admin_Layout.cshtml";
    var dsCate = ViewBag.dsCate;
}

<div class="col-sm-2">

    <a class="btn btn-add btn-sm" href="@Url.Action("Create","Categories")">
        <i class="fas fa-plus"></i>
        Tạo mới danh mục
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Thứ tự
            </th>
            <th>
                Mã danh mục
            </th>
            <th>
                Danh mục
            </th>
            <th>
                Thao Tác
            </th>
        </tr>
    </thead>
    @foreach (var item in dsCate)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.IDCate</td>
            <td>@item.NameCate</td>
            <td>

                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa" id="delete-btn"
                        onclick="location.href='@Url.Action("Delete", "Categories",new { id = item.Id })'">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"
                        onclick="location.href='@Url.Action("Edit", "Categories",new { id = item.Id })'">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-primary btn-sm info" type="button" title="Sửa"
                        onclick="location.href='@Url.Action("Detail", "Categories",new { id = item.Id })'">
                    <i class="fas fa-info-circle"></i>
                </button>
            </td>
        </tr>
     }

</table>

@* Tạo liên kết các trang *@

<div class="MenuTrang pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
          new PagedListRenderOptions()
          {
              LiElementClasses = new[] { "paginate_button page-item page-link" },
              UlElementClasses = new[] { "pagination" }
          })
        <span>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</span>
    </div>
    <style>
        .pagination {
            justify-content: space-between;
            align-items: center;
        }

        .MenuTrang li {
            display: inline;
        }

        .active {
            background-color: #001C40;
            color: white;
        }
    </style>


<script>
    $('.trash').click(function (e) {
        var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
        e.preventDefault(); /* Không thực hiện action mặc định */
        $.ajax({ /* Gửi request lên server */
            url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) { /* Sau khi nhận được giá */
                $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
            }
        });
    });</script>