<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/logo.png">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    @Scripts.Render("~/bundles/adminjs")
</head>
<body onload="time()" class="app sidebar-mini rtl">
    @*@{ if (Session["NV"] == null)
                    {
                        Response.Redirect("~/Admin/Admin/Login");
                    }; }
    @using DemoWeb2.Models;
    @{ DBSportStore1Entities _db = new DBSportStore1Entities();
                    Staff session = (Staff)Session["NV"];
                    Staff nv = _db.Staffs.Find(session.Id); }*@
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                        aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- User Menu-->
            <li>
                <a class="app-nav__item" href="@Url.Action("Logout", "Admin")"><i class='bx bx-log-out bx-rotate-180'></i> </a>

            </li>
        </ul>
    </header>

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>

    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            @*<img class="app-sidebar__user-avatar" src="~/Hinh/NhanVien/@Session["Avatar"].ToString()" width="50"
                alt="User Image">*@
            @*<div>
                @if (Session["NV"] != null)
                {
    <p class="app-sidebar__user-name"><b>@nv.FullName</b></p>
                    <p class="app-sidebar__user-designation">@nv.Job_title1.Name</p>}
            </div>*@
        </div>
        <hr>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Admin")">
                    <i class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều khiển</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Product")">
                    <i class="app-menu__icon bx bxl-product-hunt"></i><span class="app-menu__label">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Categories")">
                    <i class="app-menu__icon bx bx-cart-alt"></i><span class="app-menu__label">Quản lý danh mục</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Order")">
                    <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Promotion")">
                    <i class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý khuyến mãi</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item " href="@Url.Action("Index","Staff")">
                    <i class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Quản lý nhân viên</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","Customer")">
                    <i class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" href="@Url.Action("Index","ThongKe")">
                    <i class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span>
                </a>
            </li>
        </ul>
    </aside>

    <main class="app-content">
        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>@ViewBag.headTitle</b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </main>

    <div id="orderPlacedModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: Black">New Order Placed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: Black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: Black" id="orderMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color: Black">Close</button>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/adminjs")
    <script src="~/Scripts/Jquery/jquery.signalR-2.4.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>$(document).ready(function () {
            var orderHub = $.connection.notifyHub;

            orderHub.client.orderPlaced = function (orderId) {
                // Xử lý thông báo về đơn hàng mới
                console.log("New order placed! Order ID: " + orderId);
                // Hoặc làm gì đó để cập nhật giao diện người dùng
                showOrderPlacedModal("ĐƠN ĐẶT HÀNG MỚI: " + orderId + " .Vui lòng kiểm tra !!!");
            };

            $.connection.hub.start().done(function () {
                // Kết nối tới Hub để nhận thông báo về đơn hàng mới
            });

            function showOrderPlacedModal(message) {
                $("#orderMessage").text(message);
                $("#orderPlacedModal").modal("show");
            }
        });</script>

    <script type="text/javascript">// Thêm active class vào category
        const currentUrl = window.location.href
        const getNameCate = currentUrl.split('Admin') ?.[1]
                console.log(getNameCate)
        if (getNameCate) {
            const allCate = document.querySelectorAll('.app-menu__item')
            let activeCate
            for (var i = 0; i < allCate.length; i++) {
                if (allCate[i].getAttribute('href').split('Admin') ?.[1] === getNameCate) {
                    activeCate = allCate[i]
                    break
                }
            }
            if (activeCate) {
                activeCate.classList.add("active")
            }
        }
        //Thời Gian
        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Chủ Nhật";
            weekday[1] = "Thứ Hai";
            weekday[2] = "Thứ Ba";
            weekday[3] = "Thứ Tư";
            weekday[4] = "Thứ Năm";
            weekday[5] = "Thứ Sáu";
            weekday[6] = "Thứ Bảy";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " giờ " + m + " phút " + s + " giây";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }</script>




</body>
</html>
